<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal ="end" slot="fixed">
    <ion-fab-button (click)="addNewTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding text-wrap *ngFor="let task of tasks; let i = index">

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(i)">Delete</ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label text-wrap>
          <h2>{{task.title}}</h2>
          <!-- This is called an angular pipe to format text when showing -->
          <h3>{{task.datetime | date: 'EEEE, MMMM d, y H:mm'}}</h3>
        </ion-label>
        <ion-checkbox slot="start" checked="{{task.isCompleted}}" (ionChange)="mark(task)"></ion-checkbox>
      </ion-item>
  
    </ion-item-sliding>
  </ion-list>

</ion-content>
