<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title class="ion-text-center">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="error" color="danger">
     {{errorMsg}}
    </ion-text>

    <ion-button color="danger"  (click)="login()" expand="block">Login</ion-button>

    
  </div>
</ion-content>
