<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        <div class="ion-text-center">
          Welcome back!
        </div>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Log In</ion-button>
        
        <div class="ion-text-center">
          not a User yet?
          then register here!
        </div>


        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
